.Navigacija {
  background-color: #8da1af;
  overflow: hidden;
  text-align: center;
  margin-top: -10px;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
}

.Navigacija a {
  color: beige;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
/* Prelaskom na odredjeni zeljeni meni- preko se pojavljuje boja*/
.Navigacija a:hover {
  background-color: #d2d1d3;
}
/*Kada se nalazimo na home npr- tamnija je boja*/
.Navigacija a.active {
  background-color: #607bae;
}
.Flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img.Flex-container{
  width: 1400px;
  height: 1400px;
}

