*{
    font-family: Comic Sans MS, Comic Sans, cursive; 
}
body{
    background-image: url("../pictures/Voce/visnje.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.oNama{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Naslov{
    font-size: 30px;
    order: 1;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    
}

.Tekst{
    
    font-size: 22px;
    background-color: rgba(0,0, 0, 80%);
    order: 2;
    align-self: center;
    color: white;
    height: 550px;
}
.NasTim{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    padding-bottom: 5vw;
    color: white;
}
.Tim{
    font-size: 2vw;
    text-align: center;
    padding-top: 11px;
    color: white;
}
.PrijaviSe{
    font-size: 1vw;
    display: grid;
    text-align: center;
    align-content: center;
    align-self: center;
    margin-top: -130px;
    margin-right: 20%;
    margin-left: 20%;
}
.PrijavaButton {
    background-color:  black;
    padding: 1vw 2vw 1vw 2vw;
    border: 1px solid  #d34304;;
    border-radius: 10px; 
    color: white;
    font-size: 2.5vw;
    margin-top: -40px;
}

