body{
    background-image: url("../pictures/Borovnice.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.oNama{
    color: white;
    font-family: cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Naslov{
    font-size: 30px;
    order: 1;
    align-self: center;
}

.Tekst{
    font-size: 15px;
    background-color: rgba(0,0, 0, 80%);
    order: 2;
    align-self: center;
}