*{
    font-family: Comic Sans MS, Comic Sans, cursive; 
}
body{
    background-image: url("../pictures/daske.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

h1{
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
}

img{
    width: 100%;
    border-radius: 10px;
}

.kolona{
    flex: 40%;
    max-width: 40%;
}

.Ponuda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

img:hover{
    opacity: 0.7;
}

@media (max-width: 800px) {
    .kolona {
      flex: 90%;
      max-width: 90%;
    }
  }


