*{
    font-family: Comic Sans MS, Comic Sans, cursive; 
}
body{
    background-image: url("../pictures/daske.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
h1, p{
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.Voce img{
    width: 100%;
    border-radius: 7px;
}

.Voce{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    margin-top: 60px;
}

.vockica{
    flex: 30%;
    max-width: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .vockica {
      flex: 40%;
      max-width: 40%;
    }
  }

  @media (max-width: 600px) {
    .vockica {
      flex: 90%;
      max-width: 90%;
    }
  }
  html, body {
    height: 100%;
    
}
.page-wrapper{
    min-height: 100%;
}

.footer {
    background-color: #d34304 ;
    color: white;
    height: 400px;
    position: relative;
    width: 100%;

}
.footer .footer-content{
    border:1px solid black ;
    height: 350px;
    display: flex;
    text-align: center;
}
.footer .footer-bottom{
    background-color: grey;
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px ;


}
.footer .footer-content .footer-section{
    flex:1;
    padding: 25px;
    border: 1px solid white;

}



